<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jovian Careers</title>
  <style>
    .header {
      text-align: center;
      padding: 20px;
    }
    h1 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 20px;
    }
    .banner-img {
      width: 100%;
      max-width: 1200px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1>Jovian Careers</h1>
    <img class="banner-img" src="https://0573e04b-b414-4f46-bd57-51fb69c4a728-00-2z57pnz11iq3p.sisko.replit.dev:5000/static/banner.jpg" alt="Jovian Careers Banner">
  </div>
</body>
</html>