<nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Jovian Careers
    </a>
    <div class="d-flex align-items-center">
      <a href="#" class="nav-link me-3">Browse Jobs</a>
      <a href="#" class="nav-link me-3">Post a Job</a>
      <a href="#" class="nav-link me-3">Career Resources</a>
      <div>
      <button class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</button>
    </div>
  </div>
</nav>
<div style="height:56px">"</div>